// Colors 
$primary-black: #000;
$secondary-black: #2c2c2c;
$primary-brown: #4f4a41;
$secondary-brown: #6e6658;
$overlay-color: rgba(24, 39, 51, 0.7);
$border-gray: rgba(255, 255, 255, 0.2);
$red: #dc3545;
$green: #518428;
$blue: #007bff;
$orange: rgba(229, 148, 0, 0.9);

// Fonts
$font-stack: "Source Serif Pro", serif;

// Heights
$header-height: 3rem;
$showcase-height: calc(100vh - 3rem);

// Widths 
$website-width: 1380px;
$form-width: 350px;
$form-height: 300px;

// Paddings
